#grad {
  background-image: linear-gradient(
    179deg,
    rgba(228, 236, 255, 1) 0%,
    rgba(230, 237, 255, 0.6487789154052734) 35%,
    rgba(234, 240, 255, 0) 100%
  );
}
.text-wrapper {
  color: #090f4e;
  font-family: "Poppins-SemiBold", Helvetica;
  font-size: 24px;
  font-weight: 600;
  left: 0;
  letter-spacing: 0;
  line-height: normal;
  text-align: right;
  top: 0;
  width: 236px;
}
#pricingButton {
  color: #090f4e;
  font-family: "Poppins-Regular", Helvetica;
  width: 80px;
  font-size: 18px;
  font-weight: 400;
  right: 20px;
  letter-spacing: 0;

  top: 0;
}
h2 {
  color: #090f4e;
  font-family: "Poppins-SemiBold", Helvetica;
  font-size: 42px;
  font-weight: 600;
  line-height: 51px;
  margin-left: 20px;
  text-align: center;
}
h3 {
  color: #090f4e;
  font-family: "Poppins-SemiBold", Helvetica;
  font-size: 28px;
  font-weight: 600;
  line-height: 73px;
  text-align: center;
}
h4 {
  background-color: #f7f9ff;
  display: inline;
  border-radius: 10px;
  height: 40px;
  margin-left: 60px;
  color: #293fcc;
  font-family: "Poppins-SemiBold", Helvetica;
  font-size: 16px;
  font-weight: 600;
  letter-spacing: 0;
  line-height: 32px;
  opacity: 0.7;
  text-align: left;
  white-space: nowrap;
}
p {
  color: #63657e;
  font-family: "Poppins-Regular", Helvetica;
  font-size: 16px;
  font-weight: 400;
  line-height: 36px;
  text-align: center;
  margin-left: 50px;
  margin-right: 50px;
}
.paymentRectp {
  color: #63657e;
  font-family: "Poppins-Regular", Helvetica;
  font-size: 16px;
  font-weight: 400;
  line-height: 36px;
  text-align: left;
  margin-left: 50px;
  margin-right: 50px;
}
.title {
  color: #090f4e;
  font-family: "Poppins-SemiBold", Helvetica;
  font-size: 28px;
  font-weight: 700;
  line-height: 39px;
  margin-left: 57px;
  text-align: left;
}
.subtitle {
  color: #63657e;
  font-family: "Poppins-Regular", Helvetica;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  margin-left: 57px;
  text-align: left;
}
.title2 {
  color: #090f4e;
  font-family: "Poppins-SemiBold", Helvetica;
  font-size: 46px;
  font-weight: 700;
  line-height: 39px;
  margin-left: 57px;
  text-align: left;
}
.spaceBetween {
  justify-content: space-between;
}
.spaceAround {
  justify-content: space-around;
  display: flex;
}

.sign_up {
  color: #ffffff;
  background-color: #293fcc;
  font-family: "Poppins-Regular", Helvetica;
  width: 155px;
  height: 42px;
  font-size: 18px;
  font-weight: 500;
  left: 0;
  letter-spacing: 0;
  line-height: normal;
  text-align: right;
  top: 0;
}
.buttonBox {
  height: 200px;
  width: 400px;
}
.buttonBox .sign_up {
  display: flex;
  left: 40%;
  top: 50%;
  justify-content: space-around;
}
.logo {
  height: 8px;
  left: 120px;
  position: relative;
  top: 45px;
  width: 32px;
}
.features {
  height: 390px;
  width: 350px;
}
.paymentRect {
  background-color: #ffffff;
  border: 2px solid;
  border-color: #f5f6fa;
  border-radius: 15px;
  box-shadow: 0px 4px 4px #00000040;
  height: 655px;
  width: 476px;
}
.features .paymentRect {
  height: 390px;
  width: 350px;
}
.paymentRect h3 {
  font-size: 22px;
  margin-top: 0;
}
.paymentRect .paymentRectp {
  margin-top: -30px;
}
.featureImage {
  height: 96px;
  width: 96px;
  margin-left: 38px;
  margin-top: 38px;
}
.checklist {
  height: 230px;
  margin-top: 8px;
}
.inline {
  display: inline;
}
.infobox {
  height: 340px;
  width: 350px;
}
#joinButton {
  background-color: #e5f1ff;
  color: #293fcc;
  font-family: "Poppins-Medium", Helvetica;
  font-weight: 500;
  font-size: 20px;
  border-radius: 10px;
  height: 55px;
  left: 20%;
  top: 0vh;
  width: 290px;
  margin-bottom: 500px;
}
#homeImage {
  display: inline-flex;
  float: right;
  margin-right: 75px;
  height: 600px;
  width: 600px;
}
.font {
  font-family: "Poppins-SemiBold", Helvetica;
}
#getStarted {
  color: #282d648c;
  font-family: "Poppins-SemiBold", Helvetica;
  font-size: 16px;
  height: 47.85px;
  margin-left: 12%;
}

.logo-container {
  gap: 5px;
}
